@media (max-width: 1024px) {

    .container {
        width: 100%;
        padding: 0px 15px 0px 15px;
    }

    header .container {
        width: 100%;
        padding: 15px 15px 50px 15px;
    }

    nav ul {
        display: none;
    }

    nav img {
        display: flex;
        width: 38px;
        height: 38px;
        background-color: rgba(var(--main-color-rgb), 0.1);
        padding: 3px;
        border-radius: 7px;
        transition: 1s;
    }

    nav img:active {
        transform: scale(2);
    }

    .btn {
        display: none;
    }

    .find-car-text {
        flex-direction: column;
        align-items: center;
        display: flex;
        padding-bottom: 80px;
        max-width: 480px;
        width: 100%;
        z-index: 1;
        text-align: center;
    }

    .find-car-text img {
        padding: 10px;
    }

    .find-car-text h2 {
        font-size: var(--text-primary-tablet);
        font-weight: 600;
        color: var(--primary-color);
    }

    .find-car-text p {
        text-align: center;
        width: 300px;
        color: var(--secondary-color);
        font-size: var(--text-description-tablet);
        font-weight: 400;
        padding: 10px 0px 20px 0px;
    }

    .find-car-image {
        display: flex;
        position: relative;
        justify-content: end;
    }

    .find-car {
        display: flex;
        align-items: center;
    }

    .background-car {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 0;
        pointer-events: none;
    }

    .search-car {
        justify-content: center;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px;
        box-shadow: 0px 0px 0px 0px;
        gap: 20px;
    }

    .btn-primary-page {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 15px;
    }

    .search-car-content {
        padding: 10px;
        height: 110px;
        width: 300px;
        box-shadow: 0px 6px 12px 0px var(--shadow);
    }

    .search-car-content::after {
        display: none;
    }

    .how-work-text h2 {
        font-size: var(--text-primary-tablet);
        text-align: center;
    }

    .how-work-text p {
        margin-top: 30px;
    }

    .how-work h2 {
        padding: 0;
        font-size: var(--text-secondary-tablet);
    }

    .how-work p {
        font-size: var(--text-description-tablet);
    }

    .how-work img {
        margin: 0;
    }

    .how-work {
        padding-bottom: 80px;
    }

    .how-work-content {
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .brand {
        position: relative;
        overflow-x: scroll;
        margin-left: auto;
        margin-right: auto;
        gap: 12px;
        padding: 20px 0px 20px 0px;
    }

    .brand-auto {
        left: 0;
    }

    .brand::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .choose {
        align-items: center;
        padding-top: 30px;
    }

    .choose-list {
        width: 300px;
    }

    .choose-content {
        max-width: 450px;
        width: 100%;
    }

    .choose-car {
        display: flex;
        height: fit-content;
    }

    .choose-car img {
        max-width: 572px;
        width: 100%;
        max-height: 359px;
        height: 100%;
        position: relative;
    }

    .choose-advantage {
        align-items: center;
        padding-bottom: 30px;
    }

    .advantage-text h2 {
        padding-bottom: 5px;
        font-size: var(--text-secondary-tablet);
    }



    .advantage-text p {
        font-size: var(--text-description-tablet);
    }


    .choose-text {
        padding-top: 20px;
        align-items: center;
    }

    .choose-text h2 {
        font-size: var(--text-primary-tablet);
        text-align: center;
        max-width: 400px;
        width: 100%;
    }

    .popular-car-text h2 {
        font-size: var(--text-primary-tablet);
    }

    .rent-car {
        align-items: center;
        flex-direction: column;
        padding-bottom: 30px;
    }

    .rent-car-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 350px;
    }

    .rent-car-content .btn-primary {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .car-image {
        max-width: 500px;
        width: 100%;
        max-height: 210px;
        height: 100%;
    }

    .car {
        align-items: center;
    }

    .car-name {
        font-size: var(--text-description-tablet);
    }

    .car-star {
        font-size: var(--text-description-tablet);
    }

    .car-price h2 {
        font-size: var(--text-description-tablet);
    }

    .price {
        font-size: var(--text-description-tablet);
    }

    .day {
        font-size: var(--text-description-tablet);
    }

    .car-options {
        align-items: center;
        max-width: 100%;
    }

    .car-options img {
        width: 20px;
        height: 20px;
    }

    .car-reviews {
        font-size: var(--text-description-mobile);
    }

    .car-options p {
        font-size: var(--text-description-mobile);
    }

    .item-row {
        gap: 20px;
    }

    .vector-background {
        display: none;
    }

    .reviews-text-top h2 {
        padding-bottom: 34px;
        font-size: var(--text-primary-tablet);
    }

    .reviews-image img {
        max-width: 327px;
        border-radius: 30px;
    }

    .reviews {
        max-width: 610px;
        width: 100%;
        justify-content: flex-start;
        display: flex;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
        align-items: flex-start;
        margin-left: auto;
        margin-right: auto;
        gap: 40px;
        padding-bottom: 60px;
        animation: reviews 90s slide infinite;
    }

    .reviews::-webkit-scrollbar {
        width: 0;
    }

    .reviews-content:nth-child(3) .reviews-image img {
        width: 325px;
        height: 360px;
    }

    .reviews-content {
        max-width: 600px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }

    .reviews-text {
        padding-left: 20px;
        max-width: 260px;
    }

    .five-star {
        padding-bottom: 20px;
    }

    .description-reviews {
        font-size: var(--text-description-tablet);
        padding-bottom: 20px;
    }

    .reviews-text .city {
        padding: 0;
    }

    .reviews-content .rating {
        font-size: var(--text-primary-tablet);
    }

    .download-text {
        font-size: var(--text-primary-tablet);
        padding: 16px 0px 20px 0px;
    }

    .download-description {
        font-size: var(--text-description-tablet);
        padding-bottom: 20px;
    }

    .app {
        align-items: flex-end;
        padding-top: 40px;
    }

    .vector-app {
        display: none;
    }

    .app-text {
        max-width: 380px;
        width: 100%;
        padding-bottom: 30px;
    }

    .download-text::after {
        font-size: 38px;
    }

    .iphone-footer {
        max-width: 350px;
    }

    .logo-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: fit-content;
        padding-bottom: 60px;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .logo-footer li {
        font-size: var(--text-description-tablet);
    }

    .logo-footer h2 {
        font-size: var(--text-description-tablet);
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-list {
        flex-wrap: wrap;
    }

    .footer-list li {
        font-size: var(--text-description-tablet);
    }

    .footer-social h2 {
        padding-bottom: 15px;
    }

}